version: "3.9"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: assignment2-backend
    restart: always
    environment:
      PORT: 5000
      MONGO_URI: "mongodb+srv://comp3123user:passwordqwerty1234@comp3123user.i9t2llm.mongodb.net/assignment2?retryWrites=true&w=majority"
      JWT_SECRET: supersecretjwtkey123
    ports:
      - "5000:5000"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: assignment2-frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "3000:3000"
